@page "/register"
@inject Db Db
@inject DbLocal DbLocal
@inject SharedPreferences SharedPreferences
@inject NavigationManager NavigationManager

@code {
    private RegisterViewModel? viewModel;

    protected override void OnInitialized()
    {
        viewModel = new RegisterViewModel(Db, DbLocal, SharedPreferences, NavigationManager);
    }
}

<div>
    <img src="/_content/RCL/Images/bmb_logo.png" class="img-full-width" />
    <h1>Sign up</h1>
</div>

@if (viewModel.IsLoggedIn)
{
    <div>
        <p>You are already logged in...</p>
        <button @onclick="viewModel.LogOut">Log out</button>
    </div>
}
else
{
    <EditForm Model="viewModel.Data" OnValidSubmit="viewModel.HandleAuth">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div style="display: flex; flex-direction: column; align-items: center;">
            <label>Username:</label>
            <InputText placeholder="Enter username" @bind-Value="viewModel.Data.Username" required />
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <label>Email:</label>
            <InputText placeholder="Enter email" @bind-Value="viewModel.Data.Email" type="email" required />
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <label>Password:</label>
            <InputText placeholder="Enter password" @bind-Value="viewModel.Data.Password" type="password" required />
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <label>Confirm password:</label>
            <InputText placeholder="Confirm password" @bind-Value="viewModel.Data.ConfirmPassword" type="password" required />
        </div>
        <div>
            <label class="switch">
                <input type="checkbox" @onclick="viewModel.IsAdmin">
                <span class="slider round"></span>
            </label>
            <p role="status">@viewModel.ToggleButtonMessage</p>
        </div>

        <div>
            <p role="status">@viewModel.Message</p>
            <button type="submit">Sign up</button>
        </div>
    </EditForm>

    <p>Already have an account?</p>
    <a href="">Log in</a>
}